<h1>Newsletters by: <strong><%= @user.full_name  %></strong></h1>
<h2>Track record accuracy:</h2>
<h2> <%= @user.accuracy %></h2>

<% @newsletters.each do |newsletter| %>
  <%= newsletter.title %>
  <%= link_to "View Newsletter", user_newsletter_path(newsletter.user_id, newsletter.id) %><br>
<% end %>
<% if current_user %>
  <%= link_to "Add Newsletter", new_user_newsletter_path  %>
  <button type="button" id="view_trades">View all Trades</button>
  <div id="trades">

  </div>
  <div id="link_hold">

  </div>
<% end %>

  <h2>To Do List</h2>
  <%= form_for @list_item, :html => {:id => "list_form"} do |f| %>
  Item: <%= f.text_field :content %><br />
  <%= f.submit %>
<% end %>
<div class="list">
  <% @user.list_items.each do |litem| %>
    <li><%= litem.id %>: <%= litem.content %></li>
  <% end %>
</div>
